.box {
  margin: 0 auto;
  position: absolute;
  top: 167px;
  left: 50%;
  transform: translatex(-50%);
  width: 327px;
  height: 294px;
  border-radius: 15px;
  background-color: white;
  z-index: 900;
}

.list {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  padding-top: 26px;
}

.title {
  text-align: center;
  font-weight: 700;
  font-size: 10px;
  color: #969696;
  letter-spacing: 1.46px;
  text-transform: uppercase;
}

.value {
  padding-top: 7px;
  padding-bottom: 24px;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  color: #2c2c2c;
  letter-spacing: -0.18px;
  line-height: 24px;
}

@media screen and (min-width: 1440px) {
  .box {
    top: 200px;
    width: 1100px;
    height: 161px;
  }

  .list {
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    padding-top: 37px;
  }

  .item {
    position: relative;
    flex-basis: calc(100% / 4);
    padding: 0 32px;

    &::after {
      content: "";
      display: block;
      background-color: #979797;
      position: absolute;
      width: 1px;
      height: 75px;
      top: 0;
      right: 0;
      transform: translatey(6px);
    }
  }

  .title {
    text-align: left;
    font-size: 12px;
    letter-spacing: 1.75px;
  }

  .value {
    padding-top: 13px;
    padding-bottom: 0;
    text-align: left;
    font-size: 26px;
    letter-spacing: -0.23px;
    line-height: 30px;
  }
}
